

server {

  listen          80 default_server ;
  rewrite ^ https://$server_name$request_uri? permanent;

}

server {

  listen          80;
  listen          443 ssl;
  server_name     <%=node["caseinc-jenkins"]["domain-name"]%>;

  ssl_certificate     /etc/nginx/ssl/jenkins.case-dev.com.cert;
  ssl_certificate_key /etc/nginx/ssl/jenkins.case-dev.com.key;

  ssl_session_timeout  5m;
  ssl_protocols  SSLv3 TLSv1;
  ssl_ciphers HIGH:!ADH:!MD5;
  ssl_prefer_server_ciphers on;

  location / {

    proxy_pass              http://localhost:8080;
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_connect_timeout   150;
    proxy_send_timeout      100;
    proxy_read_timeout      100;
    proxy_buffers           4 32k;
    client_max_body_size    250m;
    client_body_buffer_size 128k;

    # re-write redirects to http as to https
    proxy_redirect http:// https://;  


  }

}
